/* @media (max-width: 375px) {
    body {
        font-family: 'Courier New', Courier, monospace;
    }
} */

@font-face {
    font-family: "CooperHewitt";
    src:
      local("CooperHewitt"),
      url("../fonts/CooperHewitt-Thin.otf") format("opentype"),
      url("../fonts/CooperHewitt-ThinItalic.otf") format("opentype"),
  }

@keyframes bannerImageAnimation {
    20% { opacity: .4; transform: rotate(20deg);}
    40% { opacity: .2; transform: rotate(0deg);}
    60% { opacity: .8; transform: rotate(40deg);}
    80% { opacity: 1; transform: rotate(-40deg);}
}

h1, h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "CooperHewitt";
    word-wrap: break-word;
    word-break: break-word;
}

.rating {
    transition: transform 1s, font-size 1s;
}

.rating:hover  {
    transform: scale(2.5);
    font-size: 60px;
}

.banner-image {
    opacity: 0;
    animation: bannerImageAnimation 4s infinite ease-out ;
}

.content {
    column-count: 3;
    column-gap: 20px;
    text-align: justify;
}

.large-content {
    width: 200px;
    height: 200px;
    color: blue;
    resize: vertical;
}