@media print {

    body {
        font-family: 'Courier New', Courier, monospace;
    }

    .main-navigation {
        display: none;
    }

    .columns {
        display: block;
    }

    .right-column {
        background-color: gainsboro;
    }
}